---
layout: page
permalink: /categories/
title: 文章分类
---

<script type="text/javascript">
  var curTag = getQueryString("categorie")

  function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
  }

  function isOnlyShow(name){
      if (curTag == null){
        return
      }
      if (curTag != name){
        $("#group-"+name).hide()
      }
  }
  var from = getQueryString("from");
</script>
<div id="archives">
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <div class="archive-group" id="group-{{ category_name | slugize}}">
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
  <script type="text/javascript">
  isOnlyShow("{{ category_name | slugize  }}")
  </script>
  {% endfor %}
  
</div>

