<script src="{{ "/static/js/jquery.min.js" | relative_url }}"></script>
<script src="/static/js/jquery-migrate.min.js"></script>
<script src="{{ "/static/js/bootstrap.min.js" | relative_url }}"></script>
<!-- {% if site.allowsearch == true %} -->
<!-- <script src="/static/js/super-search.js"></script> -->
<!-- {% endif %} -->
<script src="{{ "/static/js/thickbox-compressed.js" | relative_url }}"></script>
<script src="{{ "/static/js/material.min.js" | relative_url }}"></script>
<script src="{{ "/static/js/main.js" | relative_url }}"></script>
<script src="{{ "/static/js/projects.js" | relative_url }}"></script>
